nav a:nth-child(2){
    color: rgb(255, 153, 0);
    font-weight: bold;
}
section{
    width: 100%;
    height: 75vh;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 30%;
}