nav a:nth-child(4){
    color: rgb(255, 153, 0);
    font-weight: bold;
}

#p1{
    margin-top: 25vh;
    width: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input, form label{
    margin: 9px 0;
}
#formSend{
    width: 80px;
    height: 25px;
    background-color: rgb(255, 102, 0);
    border: none;
    color: white;
}

#p2{
    width: 43%;
}
#p2 div{
    border-bottom: 1px gray solid;
    margin: 20px 0;
    padding: 20px 0;
}
#p2 div p{
    line-height: 20px;
}