nav a:nth-child(3){
    color: rgb(255, 153, 0);
    font-weight: bold;
}

article{
    margin-top: 20vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;

}
h2{
    margin-top: 40px;
    font-size: 30px;
}
ul{
    margin-left: 30px;
}
article iframe{
    margin: 20px 0;
}
article p{
    line-height: 40px;
}
footer{
    width: 100%;
    height: 5vh;
    margin-top: 30px;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;

}