nav a:nth-child(3){
    color: rgb(255, 153, 0);
    font-weight: bold;
}

section{
    margin-top: 25vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;

}
h2{
    margin-top: 40px;
    font-size: 30px;
}
ul{
    margin-left: 30px;
}
iframe{
    margin: 20px 0;
}
section p{
    line-height: 40px;
}